modules = ["nodejs-24", "postgresql-16"]

[run]
command = "node artifacts/api-server/dist/index.js"

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"

[userenv.shared]
# Esse link deve ser o seu link do Replit para a lixeira funcionar
VITE_API_URL = "https://operation-control-hub--marcosautomacoe.replit.app/api"